<!DOCTYPE HTML>
<html lang="kr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <title>성균관대 학사일정</title>
</head>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}
<body>
<header>
  <nav>
    <img src="{{url_for('static', filename='skku.jpg')}}" alt="성균관대학교" style="width:230px">
    <div id="menucover">
      <ul class="menu">

        <a class="nav_link" href="/">성균관대 학사일정</a>
        <a class="nav_link" href="/showEvents">학사 일정</a>
        {% if 'credentials' not in session %}
        <a class="nav_link" href="/index">
          로그인
        </a>
        {% else %}
        <a class="nav_link" href="/clear">
          로그아웃
        </a>
        {%endif%}
      </ul>
    </div>
  </nav>

</header>

<main role="main">
  <!-- Main content block -->
  <br>
  {% block content %}{% endblock %}
</main>
</body>
</html>